* {
    margin: 0;
    font-family: "Roboto", sans-serif
}

html, body {
    height: 100%;
}

@media (max-width: 768px) {
    .main-container {
        padding: 1rem;
    }

    .main-container-text {
        h1 {
            width: 100%;
        }

        p {
            width: 100%;
        }
    }

    .dropdown-menu input,
    .dropdown-menu select {
        width: calc(100% - 2rem);
        padding: 1rem;
    }

    .submit-btn[type="submit"] {
        font-size: 24px;
    }

    .svg-drawing-container {
        width: 80%;
    }
}


.main-container {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    height: auto;
    padding: 1.5rem 2rem 1.5rem 2rem;
    margin: 8px 0 8px 0;
}

.main-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        width: 70%;
        font-size: 30px;
        font-weight: bold;
    }

    h2 {
        font-size: 30px;
        font-weight: normal;
    }

    p {
        font-size: 15px;
        font-weight: normal;
        width: 70%;
    }
}

.main-container-text-page-three {
    display: flex;
    flex-direction: row;
    justify-content: center;

    h2 {
        margin-right: 20px;
        font-size: 30px;
        font-weight: normal;
    }

    a {
        background-color: #3E8CCD;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 18px;
    }
}



form {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 0 5rem 0;
}


.dropdown-menu select {
    width: 450px;
    margin: 5rem 0 0 0;
    border: none;
    padding: 1rem 7rem 1rem 1rem;
    border-radius: 4px;
    appearance: none;
    background-image: url("../icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

.dropdown-menu input {
    width: 450px;
    margin: 20px 0 20px 0;
    padding: 1rem 7rem 1rem 1rem;
    border-radius: 2px;
    border: 2px solid black;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}


.button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}


.submit-btn[type="submit"] {
    display: flex;
    align-self: center;
    background-color: #3E8CCD;
    color: white;
    padding: 10px 20px;
    margin: 5rem 0 0 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 36px;
}

.submit-btn:hover {
    background-color: darkslategrey;
}

.svg-drawing-container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 40%;
    margin-top: 5rem;
    background-color: lightsalmon;
}
