.main-container {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    height: auto;
    padding: 1.5rem 2rem 1.5rem 2rem;
}

.main-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.main-container-text h1 {
    text-align: center;
    font-size: clamp(24px, 4vw, 40px);
    padding: 0 10px 0 10px;
}

.main-container-text p {
    font-size: 15px;
    text-align: center;
}

.main-container-text-page-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-container-text-page-three h2 {
    margin: 20px 20px 20px 0;

    font-weight: normal;
    text-align: center;
    font-size: clamp(20px, 4vw, 28px);
    padding: 0 10px 0 10px;

}

form {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    max-width: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

/*
.dropdown-menu select {
    margin: 5rem 0 0 0;
    border: none;
    padding: 1rem;
    border-radius: 4px;
    appearance: none;
    background-image: url("../icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

 */

.dropdown-menu input {
    width: 90%;
    margin: 20px 0 20px 0;
    padding: 1rem;
    border-radius: 2px;
    border: 2px solid black;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}


.button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}


.submit-btn[type="submit"] {
    display: flex;
    align-self: center;
    background-color: #3E8CCD;
    color: white;
    padding: 10px 20px;
    margin: 5rem 0 0 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 36px;
}

.submit-btn:hover {
    background-color: darkslategrey;
}

.svg-drawing-container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 5rem;
    background-color: lightsalmon;
}