/* Stylesheet for the application */
* {
    margin: 0;
    font-family: "Roboto", sans-serif
}

h1 {
    font-size: 3rem;
    font-weight: normal;
    margin: 2rem 0 2rem;
}

.header-container {
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: #013D7A;
    color: #FFFFFF;
}


.icon-section {
    display: flex;
    flex-direction: row;
}

.icon-section a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #F8F8F8;

    margin: 0 0.5rem 0 0.5rem;
}

.btn {
    background: #013D7A;
    padding: 10px 20px 10px 20px;
    border: 0;
    color: #FFFFFF
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: 0 20px;
}

.link-section {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.link-section a div {
    margin: 1rem 1.5rem 1rem 1.5rem;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
}

.link-section a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #F8F8F8;
    text-decoration: none;
}

.open-menu, .closed-menu, .link-section a svg, #sidebar-active {
    display: none;
}

@media (max-width: 700px) {
    .link-section {
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        padding-right: 20px;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background: #013D7A;
        transition: 0.5s ease-out;
    }

    .open-menu, .closed-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 8px 0;
    }

    #sidebar-active:checked ~ .link-section {
        right: 0;
    }

    .navbar {
        display: flex;
        flex-direction: row-reverse;
    }

    .closed-menu {
        height: 100px;
        align-self: end;
    }

    .link-section a svg {
        display: inline-block;
    }

    .error, .error p{
        font-size: 30px;
        border: 1px solid red;
        padding: 10px;
        color: red;
        max-width: 400px;
    }

}



