main{
    min-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;

}


table{
    margin-top: 2rem;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid #F0EFF0;
    padding: 1rem;
}

.lilNoob, .lilNoob div, .lilNoob h4{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0;
    padding: 5px;
}

h4{
    font-weight: normal;
}

.cupcakes{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 30px;
    font-size: 12px;
}

button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}

button, button span {
    transition: 200ms;
}

button .text_ui_delete {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

button .icon_ui {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button svg {
    width: 15px;
    fill: #eee;
}

button:hover {
    background: #ff3636;
}

button:hover .text_ui_delete {
    color: transparent;
}

button:hover .icon_ui {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

button:focus {
    outline: none;
}

button:active .icon_ui svg {
    transform: scale(0.8);
}