<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>

<body>
    <header th:fragment="header" class="header-container">
        <img alt="Fog Logo" src="../public/images/FogLogo.png" th:src="@{/images/FogLogo.png}">

        <nav>
            <input type="checkbox" id="sidebar-active">
            <label for="sidebar-active" class="open-menu">
                <img src="../public/icons/menu-tap.svg" id="menu-tap" th:src="@{/icons/menu-tap.svg}">
            </label>


            <div class="link-section">
                <label for="sidebar-active" class="closed-menu">
                    <img src="../public/icons/x-mark.svg" id="hide-menu" th:src="@{/icons/x-mark.svg}">
                </label>

                <a>Homepage</a>
                <a>Design din egen carport</a>

            </div>
                <div class="icon-section">
                    <div>
                        <img src="../public/icons/basket.svg" th:src="@{/icons/basket.svg}">
                        <div>Kurv</div>
                    </div>
                    <div>
                        <img src="../public/icons/user.svg" th:src="@{/icons/user.svg}">
                        <div>User</div>
                    </div>
                </div>

        </nav>


    </header>


    <footer th:fragment="footer" class="header-footer">
        <div>

        </div>
    </footer>

</body>
</html>
