<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="EN">

<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body>

    <header th:replace="~{fragments :: header}"></header>

    <main>
        <div><br/><p  class="error" th:unless="${#strings.isEmpty(usermessage)}" th:text="${usermessage}"></p></div>

        <h1>Enkelt Carport</h1>

        <section class="card-container">
            <div class="card">
                <a target=”_blank” href="https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte/dobbelt-carport-6-00x4-80-m-car01du-00821">
                    <img src="../public/images/carport2.png" th:src="@{/images/carport2.png}">
                </a>
                <div>
                    <h4>DOBBELT CARPORT 6,00X4,80 M UDEN MIDTERSTOLPE - FLADT TAG </h4>
                    <div>DKK 15.998,00</div>
                </div>
                <button class="btn">Se mere</button>
            </div>

            <div class="card">
                <a target=”_blank” href="https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte/dobbelt-carport-6-00x7-80-m-cp01dur-00823">
                    <img src="../public/images/carport3.png" th:src="@{/images/carport3.png}">
                </a>
                <div>
                    <h4>DOBBELT CARPORT 6,00X7,80 M MED REDSKABSRUM OG HØJ REJSNING </h4>
                    <div>DKK 29.498,00</div>
                </div>
                <button class="btn">Se mere</button>
            </div>

            <div class="card">
                <a target=”_blank” href="https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte/dobbelt-carport-6-00x8-70-m-cp02hsr-9116205">
                    <img src="../public/images/carport4.png" th:src="@{/images/carport4.png}">
                </a>
                <div>
                    <h4>DOBBELT CARPORT 6,00X8,70 M MED REDSKABSRUM OG HØJ RENSNING </h4>
                    <div>DKK 52.998,00</div>
                </div>
                <button class="btn">Se mere</button>
            </div>

            <div class="card">
                <a target=”_blank” href="https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte/dobbelt-carport-6-00x9-90-m-cp02hxl-9116206">
                    <img src="../public/images/carport4.png" th:src="@{/images/carport4.png}">
                </a>
                <div>
                    <h4>DOBBELT CARPORT 6,00X9,90 M MED REDSKABSRUM OG HØJ REJSNING</h4>
                    <div>DKK 59.998,00</div>
                </div>
                <button class="btn">Se mere</button>
            </div>

            <div class="card">
                <a target=”_blank” href="https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte/dobbelt-carport-6-00x7-80-m-cp02hur-9116204">
                    <img src="../public/images/carport4.png" th:src="@{/images/carport4.png}">
                </a>
                <div>
                    <h4>DOBBELT CARPORT 6,00X7,80 M MED REDSKABSRUM OG HØJ REJSNING</h4>
                    <div>DKK 50.998,00</div>
                </div>
                <button class="btn">Se mere</button>
            </div>

        </section>
    </main>

    <div th:replace="~{fragments :: messages}"></div>

</body>
</html>
