<!DOCTYPE html>
<html lang="EN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body>

<header th:replace="~{fragments :: header}"></header>

<h1>Velkommen til FOG </h1>

<div class="generic-form">
    <form method="post" action="loginAccount">
        <input type="email" name="email" placeholder="E-mail"/>
        <input type="password" name="password" placeholder="Kodeord"/>

        <button class="btn" type="submit">Login</button>
        <div th:replace="~{fragments :: messages}"></div>
    </form>
    <div class="link">
        <a class="btn" th:href="@{createAccountPage}">Sign up</a>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>